<div class="row">
  <div class="col-2"><img src="//cdn.shopify.com/s/files/1/0280/0268/0907/t/40/assets/lxr_logo.svg?v=7626954431453070371" alt="LXRandCo Canada"></div>
  <div class="col-6"></div>
  <div class="col-4">
    <select class="custom-select" (change)="selectChangeHandler($event)" formControlName="cityName">
      <option value="" disabled>Choose your topics</option>
      <option *ngFor="let select of selection" [ngValue]="select">{{select}}</option>
   </select>
  </div>
</div>




<div class="row">
  <div class="col-1"></div>

  <div class="col-10">
    <h1>Table with data from API</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dat of data" id="{{dat.id}}" (click)="open(content)">

        <td>
          {{dat.id}}
        </td>
        <td>
          {{dat.description}}
        </td>
        <td>

        </td>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let col of index">
                {{dat[col]}}
            </li>
          </ul>
        </div>
      </ng-template>
    </tr>
  </tbody>
</table>

</div>

</div>


<router-outlet></router-outlet>
